@font-face {
    src: url("../fonts/SF-Pro-Display-Regular.otf");
    font-family: "SF Pro Display";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url("../fonts/SF-Pro-Display-Medium.otf");
    font-family: "SF Pro Display";
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url("../fonts/SF-Pro-Display-Semibold.otf");
    font-family: "SF Pro Display";
    font-weight: 600;
    font-display: swap;
}

@font-face {
    src: url("../fonts/SF-Pro-Display-Bold.otf");
    font-family: "SF Pro Display";
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "SF Pro Display", sans-serif;
}