@font-face {
    src: url("../fonts/SF-Pro-Display-Regular.woff");
    font-family: "SF Pro Display";
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url("../fonts/SF-Pro-Display-Semibold.woff");
    font-family: "SF Pro Display";
    font-weight: 600;
    font-display: swap;
}

body {
    font-family: "SF Pro Display", sans-serif;
}